body {
	background: url('bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.custom-font-1 {

	color: yellow;
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,san-serif;
    font-size: 44px;
    font-weight: 100;

	} 

	.custom-font-2 {

	color: yellow;
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,san-serif;
    font-size: 28px;
    font-weight: 200;

	}