body {
	background: url('bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.custom-font-1 {

	color: yellow;
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,san-serif;
    font-size: 44px;
    font-weight: 100;

	} 

	.custom-font-2 {

	color: yellow;
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,san-serif;
    font-size: 28px;
    font-weight: 200;

	}

	.my-wrapper h1,
	.my-wrapper h2,
    .my-wrapper h3,
    .my-wrapper p {
    	color:white;
    }

	.box h2, .box p {
		color:white;
	}